In [5]:
import csv,json

csvFilePath="Crop_recommendation.csv"
jsonFilePath="IOTData"
data={}
with open(csvFilePath) as csvFile:
    csvReader=csv.DictReader(csvFile)
    for rows in csvReader:
        id = rows["ph"]

        data[id]=rows

with open(jsonFilePath,'w') as jsonFile:
    jsonFile.write(json.dumps(data,indent=5))

FileNotFoundError: [Errno 2] No such file or directory: 'predictive_maintenance.csv'

In [5]:
import pandas as pd


df = pd.read_csv('Sensors/predictive_maintenance.csv')
df

        N   P   K  temperature   humidity        ph    rainfall   label
0      90  42  43    20.879744  82.002744  6.502985  202.935536    rice
1      85  58  41    21.770462  80.319644  7.038096  226.655537    rice
2      60  55  44    23.004459  82.320763  7.840207  263.964248    rice
3      74  35  40    26.491096  80.158363  6.980401  242.864034    rice
4      78  42  42    20.130175  81.604873  7.628473  262.717340    rice
...   ...  ..  ..          ...        ...       ...         ...     ...
2195  107  34  32    26.774637  66.413269  6.780064  177.774507  coffee
2196   99  15  27    27.417112  56.636362  6.086922  127.924610  coffee
2197  118  33  30    24.131797  67.225123  6.362608  173.322839  coffee
2198  117  32  34    26.272418  52.127394  6.758793  127.175293  coffee
2199  104  18  30    23.603016  60.396475  6.779833  140.937041  coffee

[2200 rows x 8 columns]

In [37]:
df_rice=df[(df.label == "rice")]
#df_rice


out = df_rice.to_json(orient='records')[1:-1].replace('},{', '} {')
out

'{"N":90,"P":42,"K":43,"temperature":20.87974371,"humidity":82.00274423,"ph":6.502985292,"rainfall":202.9355362,"label":"rice"} {"N":85,"P":58,"K":41,"temperature":21.77046169,"humidity":80.31964408,"ph":7.038096361,"rainfall":226.6555374,"label":"rice"} {"N":60,"P":55,"K":44,"temperature":23.00445915,"humidity":82.3207629,"ph":7.840207144,"rainfall":263.9642476,"label":"rice"} {"N":74,"P":35,"K":40,"temperature":26.49109635,"humidity":80.15836264,"ph":6.980400905,"rainfall":242.8640342,"label":"rice"} {"N":78,"P":42,"K":42,"temperature":20.13017482,"humidity":81.60487287,"ph":7.628472891,"rainfall":262.7173405,"label":"rice"} {"N":69,"P":37,"K":42,"temperature":23.05804872,"humidity":83.37011772,"ph":7.073453503,"rainfall":251.0549998,"label":"rice"} {"N":69,"P":55,"K":38,"temperature":22.70883798,"humidity":82.63941394,"ph":5.70080568,"rainfall":271.3248604,"label":"rice"} {"N":94,"P":53,"K":40,"temperature":20.27774362,"humidity":82.89408619,"ph":5.718627178,"rainfall":241.9741949,"label":"rice"} {"N":89,"P":54,"K":38,"temperature":24.51588066,"humidity":83.5352163,"ph":6.685346424,"rainfall":230.4462359,"label":"rice"} {"N":68,"P":58,"K":38,"temperature":23.22397386,"humidity":83.03322691,"ph":6.336253525,"rainfall":221.2091958,"label":"rice"} {"N":91,"P":53,"K":40,"temperature":26.52723513,"humidity":81.41753846,"ph":5.386167788,"rainfall":264.6148697,"label":"rice"} {"N":90,"P":46,"K":42,"temperature":23.97898217,"humidity":81.45061596,"ph":7.50283396,"rainfall":250.0832336,"label":"rice"} {"N":78,"P":58,"K":44,"temperature":26.80079604,"humidity":80.88684822,"ph":5.108681786,"rainfall":284.4364567,"label":"rice"} {"N":93,"P":56,"K":36,"temperature":24.01497622,"humidity":82.05687182,"ph":6.98435366,"rainfall":185.2773389,"label":"rice"} {"N":94,"P":50,"K":37,"temperature":25.66585205,"humidity":80.66385045,"ph":6.94801983,"rainfall":209.5869708,"label":"rice"} {"N":60,"P":48,"K":39,"temperature":24.28209415,"humidity":80.30025587,"ph":7.042299069,"rainfall":231.0863347,"label":"rice"} {"N":85,"P":38,"K":41,"temperature":21.58711777,"humidity":82.7883708,"ph":6.249050656,"rainfall":276.6552459,"label":"rice"} {"N":91,"P":35,"K":39,"temperature":23.79391957,"humidity":80.41817957,"ph":6.970859754,"rainfall":206.2611855,"label":"rice"} {"N":77,"P":38,"K":36,"temperature":21.8652524,"humidity":80.1923008,"ph":5.953933276,"rainfall":224.5550169,"label":"rice"} {"N":88,"P":35,"K":40,"temperature":23.57943626,"humidity":83.58760316,"ph":5.85393208,"rainfall":291.2986618,"label":"rice"} {"N":89,"P":45,"K":36,"temperature":21.32504158,"humidity":80.47476396,"ph":6.442475375,"rainfall":185.4974732,"label":"rice"} {"N":76,"P":40,"K":43,"temperature":25.15745531,"humidity":83.11713476,"ph":5.070175667,"rainfall":231.3843163,"label":"rice"} {"N":67,"P":59,"K":41,"temperature":21.94766735,"humidity":80.97384195,"ph":6.012632591,"rainfall":213.3560921,"label":"rice"} {"N":83,"P":41,"K":43,"temperature":21.0525355,"humidity":82.67839517,"ph":6.254028451,"rainfall":233.1075816,"label":"rice"} {"N":98,"P":47,"K":37,"temperature":23.48381344,"humidity":81.33265073,"ph":7.375482851,"rainfall":224.0581164,"label":"rice"} {"N":66,"P":53,"K":41,"temperature":25.0756354,"humidity":80.52389148,"ph":7.778915154,"rainfall":257.0038865,"label":"rice"} {"N":97,"P":59,"K":43,"temperature":26.35927159,"humidity":84.04403589,"ph":6.286500176,"rainfall":271.3586137,"label":"rice"} {"N":97,"P":50,"K":41,"temperature":24.52922681,"humidity":80.54498576,"ph":7.070959995,"rainfall":260.2634026,"label":"rice"} {"N":60,"P":49,"K":44,"temperature":20.77576147,"humidity":84.49774397,"ph":6.244841491,"rainfall":240.0810647,"label":"rice"} {"N":84,"P":51,"K":35,"temperature":22.30157427,"humidity":80.64416466,"ph":6.043304899,"rainfall":197.9791215,"label":"rice"} {"N":73,"P":57,"K":41,"temperature":21.44653958,"humidity":84.94375962,"ph":5.824709117,"rainfall":272.2017204,"label":"rice"} {"N":92,"P":35,"K":40,"temperature":22.17931888,"humidity":80.33127223,"ph":6.357389366,"rainfall":200.0882787,"label":"rice"} {"N":85,"P":37,"K":39,"temperature":24.52783742,"humidity":82.73685569,"ph":6.364134968,"rainfall":224.6757231,"label":"rice"} {"N":98,"P":53,"K":38,"temperature":20.26707606,"humidity":81.63895217,"ph":5.01450727,"rainfall":270.4417274,"label":"rice"} {"N":88,"P":54,"K":44,"temperature":25.7354293,"humidity":83.88266234,"ph":6.149410611,"rainfall":233.1321372,"label":"rice"} {"N":95,"P":55,"K":42,"temperature":26.79533926,"humidity":82.1480873,"ph":5.950660556,"rainfall":193.3473987,"label":"rice"} {"N":99,"P":57,"K":35,"temperature":26.75754171,"humidity":81.17734011,"ph":5.960370061,"rainfall":272.2999056,"label":"rice"} {"N":95,"P":39,"K":36,"temperature":23.86330467,"humidity":83.15250801,"ph":5.561398642,"rainfall":285.2493645,"label":"rice"} {"N":60,"P":43,"K":44,"temperature":21.01944696,"humidity":82.95221726,"ph":7.416245107,"rainfall":298.4018471,"label":"rice"} {"N":63,"P":44,"K":41,"temperature":24.17298839,"humidity":83.7287574,"ph":5.583370042,"rainfall":257.0343554,"label":"rice"} {"N":62,"P":42,"K":36,"temperature":22.78133816,"humidity":82.06719137,"ph":6.430010215,"rainfall":248.7183228,"label":"rice"} {"N":64,"P":45,"K":43,"temperature":25.62980105,"humidity":83.52842314,"ph":5.534878156,"rainfall":209.9001977,"label":"rice"} {"N":83,"P":60,"K":36,"temperature":25.59704938,"humidity":80.14509262,"ph":6.903985986,"rainfall":200.834898,"label":"rice"} {"N":82,"P":40,"K":40,"temperature":23.83067496,"humidity":84.81360127,"ph":6.271478838,"rainfall":298.5601175,"label":"rice"} {"N":85,"P":52,"K":45,"temperature":26.31355498,"humidity":82.36698992,"ph":7.224285503,"rainfall":265.5355937,"label":"rice"} {"N":91,"P":35,"K":38,"temperature":24.8972823,"humidity":80.52586088,"ph":6.13428721,"rainfall":183.6793207,"label":"rice"} {"N":76,"P":49,"K":42,"temperature":24.958779,"humidity":84.47963372,"ph":5.206373153,"rainfall":196.9560008,"label":"rice"} {"N":74,"P":39,"K":38,"temperature":23.24113501,"humidity":84.59201843,"ph":7.782051313,"rainfall":233.0453455,"label":"rice"} {"N":79,"P":43,"K":39,"temperature":21.66628296,"humidity":80.70960551,"ph":7.062779015,"rainfall":210.8142087,"label":"rice"} {"N":88,"P":55,"K":45,"temperature":24.63544858,"humidity":80.41363018,"ph":7.730367824,"rainfall":253.7202781,"label":"rice"} {"N":60,"P":36,"K":43,"temperature":23.43121862,"humidity":83.06310136,"ph":5.286203711,"rainfall":219.9048349,"label":"rice"} {"N":76,"P":60,"K":39,"temperature":20.0454142,"humidity":80.3477562,"ph":6.766240045,"rainfall":208.5810155,"label":"rice"} {"N":93,"P":56,"K":42,"temperature":23.85724032,"humidity":82.22572988,"ph":7.382762603,"rainfall":195.0948311,"label":"rice"} {"N":65,"P":60,"K":43,"temperature":21.97199397,"humidity":81.89918197,"ph":5.658169482,"rainfall":227.3637009,"label":"rice"} {"N":95,"P":52,"K":36,"temperature":26.22916897,"humidity":83.83625819,"ph":5.543360238,"rainfall":286.5083725,"label":"rice"} {"N":75,"P":38,"K":39,"temperature":23.44676801,"humidity":84.79352417,"ph":6.215109715,"rainfall":283.9338466,"label":"rice"} {"N":74,"P":54,"K":38,"temperature":25.65553461,"humidity":83.47021081,"ph":7.120272972,"rainfall":217.3788583,"label":"rice"} {"N":91,"P":36,"K":45,"temperature":24.44345477,"humidity":82.45432595,"ph":5.950647577,"rainfall":267.9761948,"label":"rice"} {"N":71,"P":46,"K":40,"temperature":20.2801937,"humidity":82.1235421,"ph":7.236705436,"rainfall":191.9535738,"label":"rice"} {"N":99,"P":55,"K":35,"temperature":21.7238313,"humidity":80.2389895,"ph":6.501697816,"rainfall":277.9626192,"label":"rice"} {"N":72,"P":40,"K":38,"temperature":20.41447029,"humidity":82.20802629,"ph":7.592490617,"rainfall":245.1511304,"label":"rice"} {"N":83,"P":58,"K":45,"temperature":25.75528612,"humidity":83.51827127,"ph":5.875345751,"rainfall":245.6626799,"label":"rice"} {"N":93,"P":58,"K":38,"temperature":20.61521424,"humidity":83.77345559,"ph":6.932400225,"rainfall":279.5451717,"label":"rice"} {"N":70,"P":36,"K":42,"temperature":21.84106875,"humidity":80.72886384,"ph":6.946209881,"rainfall":202.3838319,"label":"rice"} {"N":76,"P":47,"K":42,"temperature":20.08369642,"humidity":83.29114712,"ph":5.739175027,"rainfall":263.6372176,"label":"rice"} {"N":99,"P":41,"K":36,"temperature":24.45802087,"humidity":82.74835604,"ph":6.738652179,"rainfall":182.5616319,"label":"rice"} {"N":99,"P":54,"K":37,"temperature":21.14347496,"humidity":80.33502926,"ph":5.594819626,"rainfall":198.6730942,"label":"rice"} {"N":86,"P":59,"K":35,"temperature":25.78720567,"humidity":82.11124033,"ph":6.946636369,"rainfall":243.5120414,"label":"rice"} {"N":69,"P":46,"K":41,"temperature":23.64124821,"humidity":80.28597873,"ph":5.012139669,"rainfall":263.1103304,"label":"rice"} {"N":91,"P":56,"K":37,"temperature":23.43191632,"humidity":80.56887849,"ph":6.363472208,"rainfall":269.5039162,"label":"rice"} {"N":61,"P":52,"K":41,"temperature":24.97669518,"humidity":83.891805,"ph":6.880431223,"rainfall":204.8001847,"label":"rice"} {"N":67,"P":45,"K":38,"temperature":22.72791041,"humidity":82.1706881,"ph":7.300410836,"rainfall":260.8875056,"label":"rice"} {"N":79,"P":42,"K":37,"temperature":24.87300744,"humidity":82.84022551,"ph":6.587918708,"rainfall":295.6094492,"label":"rice"} {"N":78,"P":43,"K":42,"temperature":21.32376327,"humidity":83.00320459,"ph":7.283736617,"rainfall":192.3197536,"label":"rice"} {"N":75,"P":54,"K":36,"temperature":26.29465461,"humidity":84.56919326,"ph":7.023936392,"rainfall":257.4914906,"label":"rice"} {"N":97,"P":36,"K":45,"temperature":22.2286982,"humidity":81.85872947,"ph":6.939083505,"rainfall":278.0791793,"label":"rice"} {"N":67,"P":47,"K":44,"temperature":26.73072391,"humidity":81.78596776,"ph":7.868474653,"rainfall":280.4044392,"label":"rice"} {"N":73,"P":35,"K":38,"temperature":24.88921174,"humidity":81.97927117,"ph":5.005306977,"rainfall":185.9461429,"label":"rice"} {"N":77,"P":36,"K":37,"temperature":26.88444878,"humidity":81.46033732,"ph":6.136131869,"rainfall":194.5766559,"label":"rice"} {"N":81,"P":41,"K":38,"temperature":22.67846116,"humidity":83.72874389,"ph":7.524080076,"rainfall":200.9133156,"label":"rice"} {"N":68,"P":57,"K":43,"temperature":26.08867875,"humidity":80.37979919,"ph":5.706943251,"rainfall":182.9043504,"label":"rice"} {"N":72,"P":45,"K":35,"temperature":25.42977518,"humidity":82.94682591,"ph":5.758506323,"rainfall":195.3574542,"label":"rice"} {"N":61,"P":53,"K":43,"temperature":26.40323239,"humidity":81.05635517,"ph":6.349606327,"rainfall":223.3671883,"label":"rice"} {"N":67,"P":43,"K":39,"temperature":26.04371967,"humidity":84.96907151,"ph":5.999969026,"rainfall":186.7536773,"label":"rice"} {"N":67,"P":58,"K":39,"temperature":25.2827223,"humidity":80.54372813,"ph":5.453592032,"rainfall":220.1156708,"label":"rice"} {"N":66,"P":60,"K":38,"temperature":22.08576562,"humidity":83.47038318,"ph":6.372576327,"rainfall":231.7364957,"label":"rice"} {"N":82,"P":43,"K":38,"temperature":23.28617173,"humidity":81.43321641,"ph":5.105588355,"rainfall":242.3170629,"label":"rice"} {"N":84,"P":50,"K":44,"temperature":25.48591986,"humidity":81.40633547,"ph":5.935344406,"rainfall":182.6549356,"label":"rice"} {"N":81,"P":53,"K":42,"temperature":23.67575393,"humidity":81.03569343,"ph":5.17782304,"rainfall":233.7034975,"label":"rice"} {"N":91,"P":50,"K":40,"temperature":20.82477109,"humidity":84.1341879,"ph":6.462391607,"rainfall":230.2242223,"label":"rice"} {"N":93,"P":53,"K":38,"temperature":26.92995077,"humidity":81.91411159,"ph":7.069172227,"rainfall":290.6793783,"label":"rice"} {"N":90,"P":44,"K":38,"temperature":23.83509503,"humidity":83.88387074,"ph":7.473134377,"rainfall":241.2013513,"label":"rice"} {"N":81,"P":45,"K":35,"temperature":26.52872817,"humidity":80.12267476,"ph":6.158376967,"rainfall":218.9163567,"label":"rice"} {"N":78,"P":40,"K":38,"temperature":26.46428311,"humidity":83.85642678,"ph":7.549873681,"rainfall":248.2256491,"label":"rice"} {"N":60,"P":51,"K":36,"temperature":22.69657794,"humidity":82.81088865,"ph":6.028321558,"rainfall":256.9964761,"label":"rice"} {"N":88,"P":46,"K":42,"temperature":22.68319059,"humidity":83.46358271,"ph":6.604993475,"rainfall":194.2651719,"label":"rice"} {"N":93,"P":47,"K":37,"temperature":21.53346343,"humidity":82.14004101,"ph":6.500343222,"rainfall":295.9248796,"label":"rice"} {"N":60,"P":55,"K":45,"temperature":21.40865769,"humidity":83.3293191,"ph":5.935745417,"rainfall":287.5766935,"label":"rice"} {"N":78,"P":35,"K":44,"temperature":26.54348085,"humidity":84.67353597,"ph":7.072655622,"rainfall":183.6222657,"label":"rice"} {"N":65,"P":37,"K":40,"temperature":23.35905428,"humidity":83.59512273,"ph":5.333322606,"rainfall":188.413665,"label":"rice"}'

In [7]:
df_banana=df[(df.label == "banana")]
df_banana

        N   P   K  temperature   humidity        ph    rainfall   label
1000   91  94  46    29.367924  76.249001  6.149934   92.828409  banana
1001  105  95  50    27.333690  83.676752  5.849076  101.049479  banana
1002  108  92  53    27.400536  82.962213  6.276800  104.937800  banana
1003   86  76  54    29.315908  80.115857  5.926825   90.109781  banana
1004   80  77  49    26.054330  79.396545  5.519088  113.229737  banana
...   ...  ..  ..          ...        ...       ...         ...     ...
1095  108  94  47    27.359116  84.546250  6.387431   90.812505  banana
1096   92  81  52    28.010680  76.528081  5.891414  103.704078  banana
1097  110  71  54    28.672089  82.207936  5.725419   94.379875  banana
1098   82  75  55    27.345851  78.487383  6.281070   92.155243  banana
1099  117  81  53    29.507046  78.205856  5.507642   98.125658  banana

[100 rows x 8 columns]

In [9]:

df_Maize=df[(df.label == "maize")]
df_Maize

      N   P   K  temperature   humidity        ph    rainfall  label
100  71  54  16    22.613600  63.690706  5.749914   87.759539  maize
101  61  44  17    26.100184  71.574769  6.931757  102.266244  maize
102  80  43  16    23.558821  71.593514  6.657965   66.719955  maize
103  73  58  21    19.972160  57.682729  6.596061   60.651715  maize
104  61  38  20    18.478913  62.695039  5.970458   65.438354  maize
..   ..  ..  ..          ...        ...       ...         ...    ...
195  90  57  24    18.928519  72.800861  6.158860   82.341629  maize
196  67  35  22    23.305468  63.246480  6.385684  108.760300  maize
197  60  54  19    18.748267  62.498785  6.417820   70.234016  maize
198  83  58  23    19.742133  59.662631  6.381202   65.508614  maize
199  83  57  19    25.730444  70.747393  6.877869   98.737713  maize

[100 rows x 8 columns]

In [11]:
df_mango=df[(df.label == "mango")]
df_mango

       N   P   K  temperature   humidity        ph    rainfall  label
1100   2  40  27    29.737700  47.548852  5.954627   90.095869  mango
1101  39  24  31    33.556956  53.729798  4.757115   98.675276  mango
1102  21  26  27    27.003155  47.675254  5.699587   95.851183  mango
1103  25  22  25    33.561502  45.535566  5.977414   95.705259  mango
1104   0  21  32    35.898556  54.259642  6.430139   92.197217  mango
...   ..  ..  ..          ...        ...       ...         ...    ...
1195  19  38  26    31.484517  48.779263  4.525722   93.172220  mango
1196  21  21  30    27.698193  51.415932  5.403908  100.772070  mango
1197  22  18  33    30.412358  52.481006  6.621624   93.923759  mango
1198  31  20  30    32.177520  54.013527  6.207496   91.887661  mango
1199  18  26  31    32.611261  47.749165  5.418475   91.101908  mango

[100 rows x 8 columns]

In [12]:

df_grapes=df[(df.label == "grapes")]
df_grapes

       N    P    K  temperature   humidity        ph   rainfall   label
1200  24  130  195    29.996772  81.541566  6.112306  67.125345  grapes
1201  13  144  204    30.728040  82.426141  6.092242  68.381355  grapes
1202  22  123  205    32.445778  83.885049  5.896343  68.739325  grapes
1203  36  125  196    37.465668  80.659687  6.155261  66.838723  grapes
1204  24  131  196    22.032962  83.743728  5.732454  65.344408  grapes
...   ..  ...  ...          ...        ...       ...        ...     ...
1295  23  138  200     9.851243  80.226317  5.965379  68.428024  grapes
1296  40  143  201    24.972561  82.728287  6.476758  66.700163  grapes
1297   6  142  202    27.237083  82.945733  6.224543  70.425089  grapes
1298  37  124  195    18.706791  83.479529  6.209928  66.596449  grapes
1299  35  134  204     9.949929  82.551390  5.841138  66.008176  grapes

[100 rows x 8 columns]

In [13]:

df_watermelon=df[(df.label == "watermelon")]
df_watermelon

        N   P   K  temperature   humidity        ph   rainfall       label
1300  119  25  51    26.473302  80.922544  6.283818  53.657426  watermelon
1301  119  19  55    25.187800  83.446217  6.818261  46.874209  watermelon
1302  105  30  50    25.299547  81.775276  6.376201  57.041471  watermelon
1303  114   8  50    24.746313  88.308663  6.581588  57.958261  watermelon
1304   93  22  52    26.587407  81.325632  6.932740  41.875400  watermelon
...   ...  ..  ..          ...        ...       ...        ...         ...
1395   97  12  47    25.287846  89.636679  6.765095  58.286977  watermelon
1396  110   7  45    26.638386  84.695469  6.189214  48.324286  watermelon
1397   96  18  50    25.331045  84.305338  6.904242  41.532187  watermelon
1398   83  23  55    26.897502  83.892415  6.463271  43.971937  watermelon
1399  120  24  47    26.986037  89.413849  6.260839  58.548767  watermelon

[100 rows x 8 columns]

In [14]:
df_apple=df[(df.label == "apple")]
df_apple

       N    P    K  temperature   humidity        ph    rainfall  label
1500  24  128  196    22.750888  90.694892  5.521467  110.431786  apple
1501   7  144  197    23.849401  94.348150  6.133221  114.051249  apple
1502  14  128  205    22.608010  94.589006  6.226290  116.039659  apple
1503   8  120  201    21.186674  91.134357  6.321152  122.233323  apple
1504  20  129  201    23.410447  91.699133  5.587906  116.077793  apple
...   ..  ...  ...          ...        ...       ...         ...    ...
1595  40  120  197    23.805938  92.488795  5.889481  119.633555  apple
1596  25  132  198    22.319441  90.851744  5.732758  100.117344  apple
1597  31  137  196    22.144641  93.825674  6.400321  120.631078  apple
1598  36  144  196    23.651676  94.505288  6.496934  115.361127  apple
1599  10  140  197    22.169395  90.271856  6.229499  124.468311  apple

[100 rows x 8 columns]

In [15]:

df_orange=df[(df.label == "orange")]
df_orange

       N   P   K  temperature   humidity        ph    rainfall   label
1600  22  30  12    15.781442  92.510777  6.354007  119.035002  orange
1601  37   6  13    26.030973  91.508193  7.511755  101.284774  orange
1602  27  13   6    13.360506  91.356082  7.335158  111.226688  orange
1603   7  16   9    18.879577  92.043045  7.813917  114.665951  orange
1604  20   7   9    29.477417  91.578029  7.129137  111.172750  orange
...   ..  ..  ..          ...        ...       ...         ...     ...
1695  27  30   5    32.717485  90.546083  7.656978  113.328978  orange
1696  13   8  12    25.162966  92.547360  7.105905  114.311720  orange
1697   6   7   7    27.681673  94.473169  7.199106  113.999515  orange
1698  40  17  15    21.350934  90.949297  7.871063  107.086209  orange
1699  31  26   9    11.698946  93.256389  7.566166  103.200599  orange

[100 rows x 8 columns]

In [16]:
df_coconut=df[(df.label == "coconut")]
df_coconut

       N   P   K  temperature   humidity        ph    rainfall    label
1800  18  30  29    26.762749  92.860569  6.420019  224.590366  coconut
1801  37  23  28    25.612944  94.313884  5.740055  224.320676  coconut
1802  13  28  33    28.130115  95.648076  5.686973  151.076190  coconut
1803   2  21  35    25.028872  91.537209  6.293662  179.824894  coconut
1804  10  18  35    27.797977  99.645730  6.381975  181.694228  coconut
...   ..  ..  ..          ...        ...       ...         ...      ...
1895  22   8  33    28.435729  95.884041  5.665785  203.928371  coconut
1896  28  27  32    28.940997  93.001090  5.764615  191.772309  coconut
1897  23  21  26    26.454887  93.450426  5.901496  149.222026  coconut
1898  37   5  34    25.794905  93.841506  5.779033  152.423871  coconut
1899  19  26  29    26.931419  98.803136  5.671549  166.571288  coconut

[100 rows x 8 columns]

In [17]:

df_cotton=df[(df.label == "cotton")]
df_cotton

        N   P   K  temperature   humidity        ph   rainfall   label
1900  133  47  24    24.402289  79.197320  7.231325  90.802236  cotton
1901  136  36  20    23.095956  84.862757  6.925412  71.295811  cotton
1902  104  47  18    23.965635  76.976967  7.633437  90.756167  cotton
1903  133  47  23    24.887381  75.621372  6.827355  89.760504  cotton
1904  126  38  23    25.362438  83.632761  6.176716  88.436189  cotton
...   ...  ..  ..          ...        ...       ...        ...     ...
1995  113  38  20    22.107190  78.583201  6.364730  74.941366  cotton
1996  102  53  21    23.038140  76.110215  6.913679  91.496975  cotton
1997  110  39  18    24.547953  75.397527  7.766260  63.880799  cotton
1998  107  58  15    23.738680  75.775038  7.556064  76.636692  cotton
1999  120  60  15    22.318719  83.861300  7.288377  65.357470  cotton

[100 rows x 8 columns]

In [18]:

df_jute=df[(df.label == "jute")]
df_jute

       N   P   K  temperature   humidity        ph    rainfall label
2000  89  47  38    25.524690  72.248508  6.002525  151.886997  jute
2001  60  37  39    26.591050  82.941641  6.033485  161.247000  jute
2002  63  41  45    25.297818  86.887054  7.121934  196.624951  jute
2003  86  40  39    25.721009  88.165136  6.207460  175.608670  jute
2004  96  41  40    23.584193  72.004608  6.090060  190.424216  jute
...   ..  ..  ..          ...        ...       ...         ...   ...
2095  87  44  43    23.874845  86.792613  6.718725  177.514731  jute
2096  88  52  39    23.928879  88.071123  6.880205  154.660874  jute
2097  90  39  37    24.814412  81.686889  6.861069  190.788639  jute
2098  90  39  43    24.447439  82.286484  6.769346  190.968489  jute
2099  84  38  43    26.574217  73.819949  7.261581  159.322307  jute

[100 rows x 8 columns]

In [19]:

df_coffee=df[(df.label == "coffee")]
df_coffee

        N   P   K  temperature   humidity        ph    rainfall   label
2100   91  21  26    26.333780  57.364700  7.261314  191.654941  coffee
2101  107  21  26    26.452885  55.322227  7.235070  144.686134  coffee
2102   83  38  35    25.708227  52.886671  7.189156  136.732509  coffee
2103  108  24  31    24.128325  56.181077  6.431900  147.275782  coffee
2104  116  28  34    23.443723  60.395233  6.423211  122.210325  coffee
...   ...  ..  ..          ...        ...       ...         ...     ...
2195  107  34  32    26.774637  66.413269  6.780064  177.774507  coffee
2196   99  15  27    27.417112  56.636362  6.086922  127.924610  coffee
2197  118  33  30    24.131797  67.225123  6.362608  173.322839  coffee
2198  117  32  34    26.272418  52.127394  6.758793  127.175293  coffee
2199  104  18  30    23.603016  60.396475  6.779833  140.937041  coffee

[100 rows x 8 columns]

In [22]:

df_pigeonpeas=df[(df.label == "pigeonpeas")]
df_pigeonpeas

      N   P   K  temperature   humidity        ph    rainfall       label
400   3  72  24    36.512684  57.928872  6.031608  122.653969  pigeonpeas
401  40  59  23    36.891637  62.731782  5.269085  163.726655  pigeonpeas
402  33  73  23    29.235405  59.389676  5.985793  103.330180  pigeonpeas
403  27  57  24    27.335349  43.357960  6.091863  142.330368  pigeonpeas
404  10  79  18    21.064368  55.469859  5.624731  184.622671  pigeonpeas
..   ..  ..  ..          ...        ...       ...         ...         ...
495  35  71  17    29.892866  66.353751  6.931925  198.140300  pigeonpeas
496  11  72  22    29.377356  44.822946  6.842744  172.401680  pigeonpeas
497  20  60  22    29.650529  42.898332  6.876573  186.922605  pigeonpeas
498  10  71  18    19.542849  66.347773  6.151029  173.110698  pigeonpeas
499  33  61  24    20.046118  48.939056  4.567446  122.456420  pigeonpeas

[100 rows x 8 columns]